{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

<!-- Content here -->
{% block main %}
<div class="container text-center">   
    <h2>Login</h2>
    <form method="POST" action="/login">    
        <div class="mb-3">
            <input type="text" placeholder="username" autocomplete="on" name="username">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="password" autocomplete="on" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>   
    <h6>{{ message }}</h6>
</div> 
{% endblock %}